.cbtn{
    color: #212529;
    background: white;
    border: 2px solid white;
    cursor: pointer;
    transition:0.5s;
    padding: 1vh;
    border-radius: 1vh;
    
}

.cbtn:hover{
    color: white;
    background: transparent;
    padding: 1vh;
    border-radius: 1vh;
    border: 2px solid;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.1);
}

.cbtn:disabled{
    color: #41464b;
    background: #212529;
    border: 2px solid #41464b;
    cursor: pointer;
    transition:0.5s;
    padding: 1vh;
    border-radius: 1vh;
    
}

.form-c{
    border: 1px white solid;
    background: white;
    border-radius: 1vh;
    color: #212529;
    font-size:larger;
    padding: 1vh;
    outline: none;
    transition:0.5s;
} 